/* Verberg de primaire knop */
.btn-primary {
    display: none;
}

/* Stijlen voor het telefoonpictogram */
.phone {
    height: 2em;
    width: 2em;
    border-radius: 7em;
    display: flex; /* Gebruik flexbox */
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    position: absolute;
    top: 1em;
    left: 87%; /* Horizontaal centreren */
    background-color: var(--primary-color);
    border: none;
}

/* Stijlen voor het telefoonpictogram binnenin */
.phone img {
    width: 100%;
}

/* Stijlen om een afbeelding binnen de .rotate-klasse 180 graden te roteren */
.rotate img {
    rotate: 180deg;
}
