/* Define styles for the primary button */
.btn-primary {
    position: absolute; /* Set the button to absolute positioning */
    bottom: 0; /* Adjust the distance from the bottom as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    border: 2px solid var(--primary-color);
    background-color: white;
    padding: 12px 18px 12px 18px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out; /* Add a smooth transition effect */
    margin-bottom: 1vh; /* Adjust the margin from the bottom */
}

/* Define styles for button hover state */
.btn-primary:hover {
    background-color: var(--primary-color); /* Change background color on hover */
    color: white; /* Change text color on hover */
}


.phone {
    display: none;
}
