.card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 40px 40px 10vh 40px;
    text-align: center;
    border-radius: 10px;
    transition: height 0.6s ease;
    width: 30em;
    height: 12em;
}

.card.expand {
    animation: expand 0.5s ease forwards;
}

.card.collapse {
    animation: collapse 0.5s ease forwards;
}

.content {
    display: none;
    text-align: left;
}

.content.visible {
    display: block;
    animation: visible 2s ease;
}

.content.invisible {
    animation: invisible 1.2s ease;
}

/* Define styles for the profile image */
.card .profile {
    width: 50%;
}


/* Keyframes for card expansion and collapse animations */
@keyframes expand {
    0% {
        height: 12em;
    }
    100% {
        height: 30em;
    }
}

@keyframes collapse {
    0% {
        height: 30em;
    }
    100% {
        height: 12em;
    }
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes invisible {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
