.hero-section {
    position: relative;
    height: 100vh; /* Use viewport height to cover the entire screen */
    overflow: hidden; /* Hide any overflow content */
}

.hero-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1; /* Set the background image behind other content */
}
