/* Definieer stijlen voor de container van de heldensectie */
.hero-section {
    position: relative;
    height: 100vh; /* Gebruik de hoogte van het viewport om het hele scherm te bedekken */
    overflow: hidden; /* Verberg eventuele overloopinhoud */
}

/* Definieer stijlen voor de heldenafbeelding binnen de heldensectie */
.hero-image img {
    position: absolute; /* Positioneer de afbeelding absoluut binnen de heldensectie */
    top: 0; /* Lijn de afbeelding uit met de bovenkant van de container */
    left: 0; /* Lijn de afbeelding uit met de linkerkant van de container */
    width: 100vw; /* Stel de breedte van de afbeelding in om de volledige viewport-breedte te bedekken */
    height: 100%; /* Stel de hoogte van de afbeelding in om overeen te komen met de hoogte van de container */
    z-index: -1; /* Plaats de achtergrondafbeelding achter andere inhoud */
}
