/* Small devices such as large phones (360px and up) */
@media only screen and (min-width: 22.5em) {
    .card {
        width: 35vh;
        height: 19vh;
        padding: 10px;
    }

    .card .profile {
        width: 50%;
    }

    .card h1 {
        font-size: 1.3em;
        line-height: 1em;
    }

    .card .content h1 {
        font-size: 1.1em;
    }

    .card .content .timeline p {
        font-size: 0.4em;
    }

    .card .content .timeline-line {
        margin-right: 2em;
        margin-left: 2em;
    }

    .card p {
        font-size: 0.8em;
    }

    .btn-primary {
        display: none;
    }

    .phone {
        height: 1.6em;
        width: 1.6em;
        border-radius: 7em;
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        position: absolute;
        top: 1em;
        left: 87%; /* Center horizontally */
        background-color: var(--primary-color);
    }


    .rotate i{
        rotate: 180deg;
    }

    .socials {
        margin-top: 0.3em;
    }

    /* Adjust keyframes for card expansion and collapse animations for smaller screens */
    @keyframes expand {
        0% {
            height: 19vh;
        }
        100% {
            height: 52vh;
        }
    }

    @keyframes collapse {
        0% {
            height: 52vh;
        }
        100% {
            height: 19vh;
        }
    }

}


/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
    .card {
        width: 47vh;
        height: 26vh;
        padding: 20px;
    }

    .card .profile {
        width: 50%;
        height: 50%;
    }

    .card h1 {
        font-size: 2.5em;
        line-height: 1em;
    }

    .card .content h1 {
        font-size: 1.5em;
    }

    .card .content .timeline h1 {
        font-size: 4em;
    }

    .card .content .timeline-line {
        margin-right: 4em;
        margin-left: 4em;
    }

    .card p {
        font-size: 1em;
        margin-bottom: 20px;
    }

    /* Adjust keyframes for card expansion and collapse animations for smaller screens */
    @keyframes expand {
        0% {
            height: 26vh;
        }
        100% {
            height: 55vh;
        }
    }

    @keyframes collapse {
        0% {
            height: 55vh;
        }
        100% {
            height: 26vh;
        }
    }

}

/*!* Medium devices such as tablets (768px and up) *!*/
@media only screen and (min-width: 48em) {
    .card {
        width: 56vh;
        height: 26vh;
        padding: 20px;
    }

    .card .profile {
        width: 50%;
        height: 50%;
    }

    .card h1 {
        font-size: 2.5em;
        line-height: 1em;
    }

    .card .content h1 {
        font-size: 1.5em;
    }

    .card .content .timeline h1 {
        font-size: 4em;
    }

    .card .content .timeline-line {
        margin-right: 6em;
        margin-left: 6em;
    }

    .card p {
        font-size: 1em;
        margin-bottom: 20px;
    }

    /* Adjust keyframes for card expansion and collapse animations for smaller screens */
    @keyframes expand {
        0% {
            height: 26vh;
        }
        100% {
            height: 55vh;
        }
    }

    @keyframes collapse {
        0% {
            height: 55vh;
        }
        100% {
            height: 26vh;
        }
    }

}



