.socials {
    justify-content: center; /* Justify the content to the center */
    padding-bottom: 1rem; /* Adding padding to the bottom */
}

.socials a {
    text-decoration: none; /* Removes the text decoration from the link in socials */
}

.socials a img {
    width: 30%; /* Makes the image 86% smaller then normal size */
}
