@import "utils.css";
@import "card.css";
@import "socials.css";
@import "timeline.css";
@import "hero.css";
@import "button.css";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;800&family=Roboto&display=swap');

* {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: #f6f6f6;
}

