/* Stijlen voor het object in de tijdlijn */
.timeline-object {
    align-content: center; /* Horizontaal uitlijnen van de inhoud in het object in het midden */
    text-align: center; /* Horizontaal uitlijnen van tekst in het object in het midden */
}

/* Stijlen voor de tijdlijnlijn */
.timeline-line {
    border: 1px solid var(--primary-color); /* Creëer een solide lijn in de kleur van de primaire kleur voor de tijdlijn */
    transform: rotate(90deg); /* Draai de lijn 90 graden (lijkt onjuist te zijn, moet zijn "transform: rotate(90deg)") */
}

/* Stijlen voor de kop van het object in de tijdlijn binnen de tijdlijn */
.timeline .timeline-object h1 {
    font-size: 10px; /* Stel een lettergrootte in van 10px voor de kop van het object in de tijdlijn */
}
