/* Styles for the timeline object */
.timeline-object {
    align-content: center; /* Center align content horizontally within the object */
    text-align: center; /* Center align text horizontally within the object */
}

/* Styles for the timeline line */
.timeline-line {
    border: 1px solid var(--primary-color); /* Create a solid black line for the timeline */
    rotate: 90deg; /* Rotate the line 90 degrees (appears to be incorrect, should be "transform: rotate(90deg)") */
}

/* Styles for the timeline object's heading within the timeline */
.timeline .timeline-object h1 {
    font-size: 10px; /* Set a font size of 10px for the timeline object's heading */
}