/* Definieer aangepaste CSS-variabelen voor kleuren en witte tinten */
:root {
    --secondary-color: #f8acff; /* Secundaire kleur variabele */
    --primary-color: #624CAB; /* Primaire kleur variabele */
    --white: #ffff; /* Witte kleur variabele */
    --off-white: #f6f6f6; /* Off-witte kleur variabele */
}

/* Stijlen voor de grid-container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Twee kolommen */
    grid-template-rows: repeat(2, auto); /* Twee rijen met automatische hoogte */
    gap: 10px; /* Ruimte tussen grid-items */
}

/* Pas de primaire kleur toe op tekst met behulp van de .primary-color-klasse */
.primary-color {
    color: var(--primary-color);
}

/* Pas de secundaire kleur toe op tekst met behulp van de .secondary-color-klasse */
.secondary-color {
    color: var(--secondary-color);
}

/* Voeg een onderstreping toe met de primaire kleur met behulp van de .underline-klasse */
.underline {
    text-decoration: underline var(--primary-color);
}

/* Stel tekst links uit met de .text-left-klasse */
.text-left {
    text-align: left;
}

/* Maak een absolute positioneringsklasse */
.absolute {
    position: absolute;
}

/* Maak een flexbox weergaveklasse */
.flex {
    display: flex;
}

/* Definieer margehulpprogramma-klassen met verschillende verticale ruimtes */
.my-12 {
    margin: 3rem 0rem 3rem 0rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

/* Definieer margehulpprogramma-klassen met verschillende horizontale ruimtes */
.mr-12 {
    margin-right: 3rem;
}

.ml-12 {
    margin-left: 3rem;
}

/* Definieer margehulpprogramma-klassen met kleinere verticale ruimtes */
.mt-8 {
    margin-top: 2rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.my-6 {
    margin: 1.5rem 0rem 1.5rem 0rem;
}

/* Definieer margehulpprogramma-klassen met nog kleinere verticale ruimtes */
.mt-6 {
    margin-top: 1.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.my-2 {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

/* Definieer margehulpprogramma-klassen met de kleinste verticale ruimte */
.mt-2 {
    margin-top: 0.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

/* Zet tekst om naar hoofdletters met de .uppercase-klasse */
.uppercase {
    text-transform: uppercase;
}

/* Maak tekst vet met de .font-bold-klasse */
.font-bold {
    font-weight: 700;
}

/* Stijlen voor verschillende tekstgroottes */
.text-xxs {
    font-size: 0.6255rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.text-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

.text-xl {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

.text-5xl {
    font-size: 3rem; /* 48px */
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem; /* 60px */
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}

.text-8xl {
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}
