/* Define custom CSS variables for color and white shades */
:root {
    --secondary-color: #f8acff;
    --primary-color: #624CAB;
    --white: #ffff;
    --off-white: #f6f6f6;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, auto); /* Two rows with automatic height */
    gap: 10px; /* Gap between grid items */
}

/* Apply primary color to text using the .primary-color class */
.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

/* Add underline decoration with the primary color using the .underline class */
.underline {
    text-decoration: underline var(--primary-color);
}

.text-left {
    text-align: left;
}

/* Create an absolute positioning class */
.absolute {
    position: absolute;
}

/* Create a flexbox display class */
.flex {
    display: flex;
}

/* Define margin utility classes with different vertical spacings */
.my-12 {
    margin: 3rem 0rem 3rem 0rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

/* Define margin utility classes with different horizontal spacings */
.mr-12 {
    margin-right: 3rem;
}

.ml-12 {
    margin-left: 3rem;
}

/* Define margin utility classes with smaller vertical spacings */
.mt-8 {
    margin-top: 2rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.my-6 {
    margin: 1.5rem 0rem 1.5rem 0rem;
}

/* Define margin utility classes with even smaller vertical spacings */
.mt-6 {
    margin-top: 1.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.my-2 {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

/* Define margin utility classes with the smallest vertical spacing */
.mt-2 {
    margin-top: 0.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: 700;
}

.text-xxs {
    font-size: 0.6255rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.text-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

.text-xl {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

.text-5xl {
    font-size: 3rem; /* 48px */
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem; /* 60px */
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}

.text-8xl {
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}